@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

/* body{
  @apply font-secondary text-secondary;
} */
:root {

  --primary: #ff5733;
  --secondary: #666666;
  --accent: #ffca3b;
  --border: #d7d7d7;
  --black: #000;

}



@theme {
  --font-primary: "DM Sans", "sans-serif";
  --font-secondary: "Barlow", "sans-serif";
  --breakpoint-sm: 640px;
 --breakpoint-md: 750px;
 --breakpoint-lg: 960px;
 --breakpoint-xl: 1200px;
 --container-padding: 15px;
  --shadow-custom: 0px 4px 54px 10px rgba(18, 19, 21, 0.06);

  --bg-hero: url('/assets/img/hero/bg.jpg');

 
  
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }

  .text-secondary{
    color: var(--secondary);
  }

  .text-accent{
    color: var(--accent)
  }

  .text-border{
    color: var(--border)
  }

   .shadow-custom {
    box-shadow: var(--shadow-custom);
  }

   .bg-hero {
    background-image: var(--bg-hero);
  }

  .font-secondary {
    font-family: var(--font-secondary);
    
  }

  .font-primary {
    font-family: var(--font-primary);
  }

  .bg-primary{
    background-color: var(--color-black);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--primary);
  }

  .h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
  }
   @media (min-width: 1200px) {
    .h1 {
      font-size: 54px;
    }
  }

   .h2 {
    font-size: 36px;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 700; /* bold */

    @media (min-width: 1280px) {
      font-size: 46px;
      line-height: 56px;
    }
  }

  .h3 {
    font-family: var(--font-primary);
    font-weight: 700; /* bold */
    font-size: 1.875rem; /* Tailwind's text-3xl = 30px */
    line-height: 2.25rem;
  }

  .h4 {
    font-size: 1.5rem;   /* text-2xl = 24px */
    line-height: 2rem;
    font-weight: 600;    /* semibold */
  }

  .container-padding{
    padding: var(--container-padding);
  }
}

